html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: open sans;
    scrollbar-color: var(--main-color) var(--secondary-color);
}

main {
    height: auto;
    width: 100%;
    padding: 20px;
    z-index: 3;
    position: relative;
    background-color: var(--secondary-color);
    background-image: url(../img/background2.svg);
}

:root {
    --main-color: crimson;
    --secondary-color: black;
}

/* --- NAV --- */
.nav {
    width: 100vw;
    height: 60px;
    position: fixed;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    z-index: 99;
    border-bottom: 2px solid var(--main-color);
}

.nav__logo {
    height: 100%;
    margin: 0px 20px;
    padding: 5px;
    cursor: pointer;
}

.nav__ul {
    height: 100%;
    display: flex;
    padding: 0;
    margin-top: 45px;
    list-style: none;
}

/* --- BUTTON --- */

.button {
    display: flex;
    z-index: 1;
    align-items: center;
    padding: 11px 20px;
    margin: 7px 10px;
    width: 160px;
    color: var(--main-color);
    font-family: open sans;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
    background-color: var(--secondary-color);
}

.button--nav {
    border-bottom: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
}

.button--nav-mobile {
    border-bottom: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    display: none;
}

.button--list {
    border-left: 2px solid crimson;
    font-size: 13px;
}

.button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
}

/* --- HEADER --- */

.header {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.header__video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(2px);
    position: fixed;
}

.header__title {
    padding: 0;
    margin: 0;
    font-size: 140px;
    color: transparent;
    -webkit-text-stroke: 2px var(--main-color);
    font-family: fantasy;
    /* background-color: black; */
}

/* --- SECTION --- */

.section__title {
    /* color: var(--main-color); */
    padding: 10px;
    margin: 0;
    font-size: 5rem;
    -webkit-text-stroke: 2px var(--main-color);
}

/* --- CARD-POPULAR-SECTION --- */

.card-popular-section {
    height: auto;
    width: 300px;
    margin: 10px;
    padding: 0px 25px;
    position: relative;
    color: crimson;
    border-top: 10px solid crimson;
    border-left: 2px solid crimson;
}

.card-popular-section__img {
    height: 900px;
    transition: 0.2s;
}

.card-popular-section__img:hover {
    filter: brightness(1.5);
    margin-left: 10px;
    color: black;
    cursor: pointer;
}

.card-popular-section__title {
    white-space: nowrap;
    background-color: black;
}

/* --- WRAPPER --- */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 0px;
    justify-content: space-evenly;
}

.wrapper--card-bundle {
    justify-content: flex-start;
    margin: 30px 80px;
    flex-wrap: nowrap;
}

.wrapper--title {
    position: fixed;
    bottom: 25%;
    left: 10%;
    z-index: 2;
    align-items: flex-start;
    flex-direction: column;
}

.wrapper--row {
    flex-direction: row;
}

.wrapper--column {
    flex-direction: column;
}

.wrapper-break {
    flex-basis: 100%;
    height: 25px;
}

/* --- FOOTER --- */

.footer {
    padding: 20px;
    z-index: 3;
    position: relative;
    border-top: 2px solid var(--main-color);
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.footer__title {
    color: var(--main-color);
    margin: 10px 0px;
    padding: 0;
    border-bottom: 2px solid crimson;
}

.footer .wrapper--column a {
    margin: 10px 0px;
    text-decoration: none;
    color: crimson;
}

.footer__creator {
    padding: 10px;
    border: 2px solid crimson;
}

/* --- PICTURE-FRAME --- */

.picture-frame {
    border: 2px solid crimson;
    margin: 15px;
}

.picture-frame--big {
    width: auto;
    height: 900px;
    border: none;
    background-image: url(../img/fancy-border.svg);
    background-size: cover;
}

.picture-frame--small {
    height: 350px;
    width: 350px;
}

.picture-frame__img {
    object-fit: cover;
    margin: 15px;
}

/* .mask-img1 {
    mask:
        url(../img/background2.svg) center/cover no-repeat,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
} */


.picture-frame__img--small {
    width: 350px;
    height: 350px;
}

.picture-frame__img--big {
    width: 500px;
    height: 870px;
    object-position: left;
}

/* --- TEXT-CONTAINER --- */

.text-container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    flex: 1;
}

.text-container__small-item {
    min-width: 300px;
    min-height: 450px;
    padding: 20px;
    height: 100%;
    display: flex;
    font-size: 18px;
    color: white;
    flex-direction: column;
}

.text-container__title {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    padding: 13px;
    align-items: center;
    text-align: left;
    border-left: 2px solid crimson;
    border-bottom: 2px solid crimson;
    /* background-color: black; */
}

/* --- OTHER --- */

.bottom-shadow {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 20%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    z-index: 1;
}

.black-background {
    background-color: black;
}

/* --- LINK --- */

.link {
    color: inherit;
    text-decoration: none;
}

/* .link:hover {} */
/* .link:active {} */
/* .link:visited {} */

/* --- MARK --- */

.mark {
    background-color: crimson;
}

.mark--alternative {
    color: inherit;
    background-color: transparent;
    border-bottom: 3px dotted crimson;
}

/* --- DROPDOWN --- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
    border-left: 2px solid crimson;
    border-bottom: 2px solid crimson;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* --- NEWSLETTER --- */

.newsletter {
    padding: 80px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    background-color: crimson;
    color: white;
}

.newsletter__small-title {
    border-bottom: 1px solid white;
    /* color: white; */
}

.newsletter__title {
    font-size: 40px;
    font-weight: bold;
}

.newsletter__text-form {
    width: 400px;
    height: 45px;
    border: 2px solid white;
    margin: 10px;
}

.newsletter__submit {
    color: crimson;
    background-color: black;
    border: none;
    height: 45px;
    padding: 0px 20px;
    font-weight: 900;
}

.newsletter__submit:hover {
    cursor: pointer;
}

/* --- SECTION-TWO --*/

.section-two .text-container .text-container__small-item:nth-child(1) {
    background-image: url(../img/small-item-bg1.jpg);
    background-size: cover;
}

.section-two .text-container .text-container__small-item:nth-child(2) {
    background-image: url(../img/small-item-bg2.jpg);
    background-size: cover;
}

.section-two .text-container .text-container__small-item:nth-child(3) {
    background-image: url(../img/small-item-bg3.jpg);
    background-size: cover;
}

.section-two .text-container .text-container__small-item:nth-child(4) {
    background-image: url(../img/small-item-bg4.jpg);
    background-size: cover;
}

.section-two .text-container .text-container__small-item:nth-child(5) {
    background-image: url(../img/small-item-bg5.jpg);
    background-size: cover;
}

.section-two .text-container .text-container__small-item:nth-child(6) {
    background-image: url(../img/small-item-bg6.jpg);
    background-size: cover;
}

/* --- INTERACTIVE-MAP --- */
.interactive-map {
    /* position: relative; */
    /* height: 700px; */
    /* width: 600px; */
    z-index: 2;
}

.interactive-map-title {
    color: white;
    font-size: 80px;
    /* -webkit-text-stroke: 2px white; */
}

.interactive-map__button {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 3;
    border-radius: 50%;
    border: none;
    background-color: crimson;
    color: crimson;
    font-size: 13px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    white-space: pre;
}

.interactive-map__button::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    left: -3px;
    z-index: -1;
    background-color: white;
    height: 22px;
    width: 170px;
}

.interactive-map__button:hover {
    filter: brightness(1.5);
    scale: 1.5;
}

.interactive-map__showcase-photo {
    width: 850px;
    opacity: 0.3;
    position: absolute;
    left: 13%;
    z-index: 1;
    padding: 10px;
}

/* Lantau North Country Park */
.interactive-map>button:nth-child(2) {
    top: 72%;
    left: 15%;
}

/* Shek O Country Park */
.interactive-map>button:nth-child(3) {
    top: 75%;
    left: 63%;
}

/* Pok Fu Lam Country Park */
.interactive-map>button:nth-child(4) {
    top: 65%;
    left: 50%;
}

/* Sai Kung East Country Park */
.interactive-map>button:nth-child(5) {
    top: 34%;
    left: 80%;
}

/* Lion Rock Country Park */
.interactive-map>button:nth-child(6) {
    top: 45%;
    left: 53%;
}

/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 1596px) {
    .picture-frame__img--big {
        display: none;
    }

    .card-popular-section {
        width: 220px;
    }
}


@media only screen and (max-width: 1135px) {
    .interactive-map__map {
        width: 80vw;
    }

    .text-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .picture-frame__img--big {
        display: block;
    }

    .card-popular-section__img {
        display: none;
    }

    .card-popular-section__img {
        height: 0px;
    }

    .card-popular-section:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {

    .interactive-map__map {
        opacity: 0;
    }

    .interactive-map>button:nth-child(2) {
        top: 0%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .interactive-map>button:nth-child(3) {
        top: 20%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    .interactive-map>button:nth-child(4) {
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .interactive-map>button:nth-child(5) {
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    .interactive-map>button:nth-child(6) {
        top: 80%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .header__title {
        font-size: 100px;
        word-spacing: 100vw;
    }

    .button--nav {
        display: none;
    }

    .button--nav-mobile {
        display: block;
    }

    .nav {
        justify-content: space-between;
    }

    .footer {
        flex-direction: column;
    }

    .newsletter__text-form {
        width: auto;
        text-align: center;
    }
}